WORK_DIR=

TESSERACT_PATH=

SHOPEE_HOST_SINGAPORE=
SHOPEE_ID_SINGAPORE=
SHOPEE_PW_SINGAPORE=

SHOPEE_HOST_PHILIPPINE=
SHOPEE_ID_PHILIPPINE=
SHOPEE_PW_PHILIPPINE=

SHOPEE_HOST_MALAYSIA=
SHOPEE_ID_MALAYSIA=
SHOPEE_PW_MALAYSIA=

SHOPEE_HOST_INDONESIA=
SHOPEE_ID_INDONESIA=
SHOPEE_PW_INDONESIA=